# Ignores all data files in the data folder
# Except the .dvc extension files
/train_data_cleaning.csv
/X.pckl
/X_train.pckl
/X_test.pckl
/y.pckl
/y_train.pckl
/y_test.pckl
/counter.pckl
/experiment_end.txt
/model_metrics.png
